.navbar-fixed-top {
  background: #0b1b1e;
  transition-duration: 0.5s;
  /*border-bottom: 1px solid #e7eaec !important;*/
  z-index: 10;
  border: 0 !important;
}

.navbar-form-custom {
  float: left;
  height: 50px;
  padding: 0;
  width: 200px;
  display: inline-table;
}

.navbar-form-custom .form-group {
  margin-bottom: 0;
}

.navbar-top-links li {
    display: inline-block;
}

.navbar-top-links li:last-child {
    margin-right: 40px;
}

.nav.navbar-right > li > a {
    color: #999c9e;
}

.nav.navbar-top-links a {
    font-size: 14px;
}

.navbar-top-links li a {
    padding: 20px 10px;
    min-height: 50px;
}
#topnav {
	height: 60px;
	min-height: 50px;
}
#topnav > li > a {
    color: #a7b1c2;
    font-weight: 600;
    padding: 14px 20px 14px 25px;
}

#topnav > li > a i {
    margin-right: 6px;
}

#topnav > ul {
    padding: 0px;
}

#topnav > ul > li {  
	padding: 0; 
    border-bottom: none;
}

#topnav > ul > li > a:hover {
    font-size: 14px;
    color: #000;
}

.navbar-form-custom .form-control {
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
  border: medium none;
  font-size: 14px;
  height: 60px;
  margin: 0;
  z-index: 100;
}


.animate.it {
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}

.nav-controller {
    position: fixed;
    top: 10px;
    left: 15px;
    text-align: center;
    padding: 5px 10px;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    z-index: 3500;
    background: rgba(0,0,0,0.5);
}

.nav-controller:hover {
	background: rgba(0,0,0,0.2);
}
.nav-header {
	width: 100%;
	padding: 40px 20px;
	text-align: center;
	margin-bottom: 1px;
	position: relative;
	background: rgba(255, 255, 255, 0.5);
}
.profile-details {
	vertical-align: middle;
	position: relative;
}
.avatar img {
	width: 100px;
	height: 100px;
	border-radius: 50%;
	margin: 0 auto;
	padding: 1px;
	margin-bottom: 20px;
}

nav ~ .nav-controller > .controller-open {
    display: inline-block;
}

nav ~ .nav-controller > .controller-close {
    display: none;
}
nav.active ~ .nav-controller > .controller-open {
    display: none;
}

nav.active ~ .nav-controller > .controller-close {
    display: inline-block;
}

nav.it {
    position: fixed;
    top: 0px;
    left: -100%;
    padding-top: 65px;
    padding-bottom: 15px;
    height: 100%;
    width: 200px;
    text-align: left;
    background-color: rgb(38, 105, 114);
    box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
    z-index: 3000;
    overflow: auto;
    font-size: 17px;
   	color: #fff;
}

nav.focus, nav.active {
    left: 0px;
}

nav > p {
	padding: 10px 10px 0px 10px;
	font-size: 15px;
}

nav > ul {
    padding: 0px;
}

nav > ul {
    list-style: none;
}
nav > ul > li {
    padding: 15px;   
    border-bottom: 1px solid #d5d5d5;
}
nav > ul > li > a {
    color: #fff;   
}
nav > ul > li > a:hover {
    font-size: 20px;
    font-weight: 500;
    color: #fff;
    text-decoration: none;
}